.form-group{
    margin: 15px;
    margin-bottom: 20px;
}
.form-group label{
    font-size: 20px;
    margin-bottom: 10px;
}
.bouton{
    display: flex;
    margin: 15px;
    flex-direction: column;
}
.btn{
    align-self: end;
}